---
import "$styles/main.css";
import NavigationBar from "$components/navigation-bar.astro";
import type { ComponentProps } from "astro/types";
import { siteDetails } from "site.config";
import { ViewTransitions } from "astro:transitions";

interface Props {
  siteMainTitle?: string;
  logoTitle?: string;
}

const { logoTitle, siteMainTitle, theme } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <ViewTransitions />
    {
      siteMainTitle ? (
        <title>
          {siteMainTitle} | {siteDetails.siteTitle}
        </title>
      ) : (
        <title>{siteDetails.siteTitle}</title>
      )
    }
  </head>
  <body 
    class="lg:container mx-auto md:px-0 grid lg:grid-sidebar-layout gap-2" 
    data-theme={theme}>
    <NavigationBar title={logoTitle} />
    <main
      class="lg:flex-grow bg-surface lg:border-x-2 border-highlight min-h-screen lg:min-h-full"
    >
      <div transition:animate="fade" class="space-y-8 p-4">
        <slot />
      </div>
    </main>
  </body>
</html>
