---
import ContentContainer from "$components/content-container.astro";
import BaseLayout from "$components/layouts/base-layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("arts");
  return blogEntries.map((art) => ({
    params: { slug: art.data.title.toLowerCase() },
    props: { art },
  }));
}

const { art } = Astro.props;
---

<BaseLayout>
  <ContentContainer heading={art.data.title}>
    <p>{art.data.description}</p>
  </ContentContainer>
  <ul class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {
      art.data.images.map((image, index) => (
        <li class="bg-surface-hover rounded-lg h-full flex flex-col overflow-hidden">
          <Image
            src={image.image}
            alt={image.name}
            transition:name={image.name}
            class="h-96 w-full object-cover object-top"
          />
          <h3 class="mt-auto p-2 text-lg font-heading text-brand-secondary">
            {image.name}
          </h3>
        </li>
      ))
    }
  </ul>
</BaseLayout>
