---
import BaseLayout from "$components/layouts/base-layout.astro";
import Section from "$components/section.astro";
import ContentContainer from "$components/content-container.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import FireKSProfilePicture from "$assets/fireks_picture.png";
import { getAllGames } from "$api/games";
import GameCard from "$components/game-card.astro";

const arts = await getCollection("arts");

const result = await getAllGames();
---

<BaseLayout>
  <Section heading="About Me" icon="pixelarticons:heart">
    <div
      class="grid lg:grid-two-column place-items-center lg:place-items-stretch gap-6"
    >
      <div class="overflow-hidden rounded-lg w-48 order-last lg:order-first">
        <Image src={FireKSProfilePicture} alt="Picture" class="w-full h-full" />
      </div>
      <ContentContainer heading="Welcome to my portfolio!">
        <p>
          Come explore a world of lively pixels, where every piece has its own
          story to tell. Check out my pixel art, games, and interesting posts,
          and let's journey together through the fascinating world of digital
          art!
        </p>
      </ContentContainer>
    </div>
  </Section>
  <Section heading="Latest Art Collections" icon="pixelarticons:image-gallery">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2"
      transition:animate="initial"
    >
      {
        arts.map((art) => (
          <a
            href={`/art/${art.data.title.toLowerCase()}`}
            class="overflow-hidden rounded-lg bg-surface-hover"
            transition:name={art.data.coverAlt}
          >
            <div class="h-64">
              <Image
                src={art.data.cover}
                alt={art.data.title}
                class="w-full h-full object-cover object-top"
              />
            </div>
            <div class="p-4">
              <span>{art.data.title}</span>
            </div>
          </a>
        ))
      }
    </div>
  </Section>
  <Section heading="Latest Games" icon="pixelarticons:gamepad">
    <div class="grid grid-cols-3 gap-4">
      {result?.games.map((game) => <GameCard game={game} />)}
    </div>
  </Section>
</BaseLayout>

<style>
  .grid-two-column {
    grid-template-columns: 180px 1fr;
  }
</style>
