---
import type { Game } from "$api/games";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props {
  game: Game;
}

const { game } = Astro.props;
---

<a
  href={game.url}
  class="rounded-lg overflow-hidden min-h-0 h-full flex flex-col"
  transition:name={game.title}
>
  <Image
    src={game.cover_url}
    alt={game.title}
    width={1280}
    height={320}
    class="object-cover hover:scale-105 transition-all will-change-transform"
  />
  <div class="p-2 bg-surface-hover flex-grow flex flex-col gap-2">
    <h4
      class="font-bold font-heading text-lg tracking-wide text-brand-secondary"
    >
      {game.title}
    </h4>
    <div class="font-semibold flex items-center gap-2">
      {
        (
          <div class="font-semibold flex items-center gap-2 flex-wrap">
                  {game.p_windows && (<Icon name="material-symbols:window-sharp" title="Windows" />)}
                  {game.p_linux && (<Icon name="icomoon-free:tux" title="Linux" />)}
                  {game.p_osx && (<Icon name="ic:baseline-apple" title="macOS" />)}
                  {game.p_android && (<Icon name="material-symbols:android" title="Android" />)}
                  {game.type === "html" && (
                    <span class="p-2 bg-surface rounded-md text-sm">Play in Browser</span>
                    )}
          </div>
        )
      }
    </div>
    <p>{game.short_text}</p>
  </div>
</a>
